body {
    text-align: center;
    background-color: rgb(31, 19, 27);
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bloco {
    margin-top: 35px;
    margin-bottom: 25px;
}

.quadrado {
    position: relative;
    text-align: center;
    width: 45px;
    background: #eee;
    display: inline-block;
    padding: 30px;
    font-size: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: rgb(179, 100, 179);
    border-style: groove;
    color: black;
}

.jogador, .vencedor {
    font-size: 20px;
    margin-top: 12px;
}

button {
    margin-top: 15px;
    width: 100px;
    height: 40px;
    background: #eee;
    cursor: pointer;
    border-radius: 10px;
    border: rgb(179, 100, 179);
    border-style: groove;
}